.cart-page {
  padding: 20px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-item {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
}

.cart-item img {
  width:20%;
  object-fit: cover;
  margin-right: 15px;
}


.cart-item-details h3 {
  margin: 0;
  font-size: 1rem;
}

.cart-item-details p {
  margin: 5px 0;
  color: #555;
}

.cart-item-details input {
  width: 60px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.cart-summary {
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.cart-summary h3 {
  margin: 0;
}

.cart-summary button {
  width: 20%;
}

